.div {
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 5%;
    color: #8B4513;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.conteiner p{
    padding: 10px;
    color: aliceblue;
    background-color: #8B4513;
}
